<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <title>ML-Login</title>
</head>

<body>

  <div class="container">

    <header>
      <div class="logo">
        <img src="/images/logo-mercado-liebre.svg" alt="">
      </div>
      <p>Lugar para poner barra de búsqueda</p>
      <i class="fas fa-hand-holding-usd"></i><span>Comprá en cuotas y sin tarjeta de crédito</span>
    </header>

    <main>
      <form action="javascript:void(0)" method="GET">
        <input class="input-texto" type="text" name="usuario" placeholder="Nombre de usuario">
        <br>
        <input class="input-texto" type="password" placeholder="Ingresá tu contraseña">
        <br>
        <input class="input-usuario-boton" type="submit" value="Enviar">
      </form>
    </main>

    <footer>
      <div class="articulo-footer">
        <i class="far fa-credit-card"></i>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
          pago. ¡Y siempre es seguro!</p>
      </div>
      <div class="articulo-footer">
        <i class="fas fa-gift"></i>
        <h4>Envío gratis desde los $ 2.500</h4>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
          productos. Es un beneficio de MercadoPuntos.</p>
      </div>
      <div class="articulo-footer">
        <i class="fas fa-user-shield"></i>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
          porque estás siempre prtegid@.</p>
      </div>
      <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>

  </div>

</body>

</html>